name: Testim Tests
on:
   merge_group:
    branches: master
jobs:
    run-testimio-cli:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: '16.13.0'
            - run: npm install -g @testim/testim-cli
            - run: testim --token "8SIUOkRQagkzJF6ygp3IaBVRa1sShHU6ZSfnWUfbWvvCFCMU9o" --project "Z1Akc1Mbe3CVaMZDF6jy" --grid "Testim-Grid"
